<ngx-loading [show]="loading"></ngx-loading>
<app-header></app-header>

<div class="bg-light border-bottom shadow-sm mb-3">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-6 py-1">
                <a href="javascript:;" (click)="back();">Back</a>
            </div> 
        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 mb-4"> 
            <strong>  Periode Rebate {{date | date}}</strong>
        </div>

        <div class="col-12">
            <div class="border p-1 bg-white">
                <table id="ha" class="display excel " style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>User ID</th> 
                            <th>Name</th> 
                            <th class="text-right">Amount (IDR)</th> 
                            <th>Input By</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let x of items; let i = index">
                            <td>{{i+1}}</td> 
                            <td>{{x.userId}} </td>  
                            <td>{{x.name}} </td>  
                            <td class="text-right"> {{x.amount | number}}</td>  
                            <td>{{x.admin}}</td>
                        </tr>
                    </tbody>
                  
                </table>
            </div>
        </div>
    </div>
</div>