<app-header></app-header>

<div class="container-fluid mybody">
    <div class="row">
        <div class="col-12">
            <h1 class="display-6 my-3">Payment Confirm</h1>
        </div>

        <div class="col-12">
            <div class="mb-3">
                <strong>Open EA</strong>
                <table id="example" class="display excel " style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Order Code</th>
                            <th>ID USER</th>
                            <th>name</th>

                            <th>Product</th>
                            <th>Qty</th>
                            <th class="text-right">Amount IDR</th>

                            <th>bank</th>
                            <th>bank_account</th>
                            <th>bank_number</th>
                            <th>date_payment</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of items; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{x.orderCode}}</td>
                            <td><code>{{x.userId}}</code></td>
                            <td>{{x.name}}</td>

                            <td>{{x.product}}</td>
                            <td>{{x.qty}}</td>
                            <td class="text-right">{{x.amount | number}}</td>

                            <td>{{x.bank}}</td>
                            <td>{{x.bank_account}}</td>
                            <td>{{x.bank_number}}</td>
                            <td>{{x.date_payment}}</td>

                            <td class="text-center">
                                <button type="button" (click)="onApproved(x,true);" class="btn btn-sm btn-info mx-1">Approve</button> 
                                <button type="button" (click)="onApproved(x,false);" class="btn btn-sm btn-danger">Reject</button>
                            </td>

                        </tr>

                    </tbody>

                </table>
            </div>
        </div>


        <div class="col-12">
            <strong>Payment Confirm by Finance </strong>
            <div class="bg-light p-1 mb-2 border shadow-sm">
                <table id="example2" class="display excel " style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Order Code</th>
                            <th>ID USER</th>
                            <th>name</th>

                            <th>Product</th>
                            <th>Qty</th>
                            <th class="text-right">Amount IDR</th>

                            <th>bank</th>
                            <th>bank_account</th>
                            <th>bank_number</th>
                            <th>date_payment</th>
                            <th>Approved by</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of closed; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{x.orderCode}}</td>
                            <td><code>{{x.userId}}</code></td>
                            <td>{{x.name}}</td>

                            <td>{{x.product}}</td>
                            <td>{{x.qty}}</td>
                            <td class="text-right">{{x.amount | number}}</td>

                            <td>{{x.bank}}</td>
                            <td>{{x.bank_account}}</td>
                            <td>{{x.bank_number}}</td>
                            <td>{{x.date_payment}}</td>
                            <td> {{x.admin}}, {{x.approved_date}} </td>
                        </tr>

                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>